$themeBlueBg:hsl(222, 26%, 31%);
$themeBlueToggle: hsl(223, 31%, 20%);
$themeBlueScreenBg:hsl(224, 36%, 15%);
$themeBlueDelKey: hsl(225, 21%, 49%);
$themeBlueDelShadow: hsl(224, 28%, 35%);
$themeBlueEqual: hsl(6, 63%, 50%);
$themeBlueEqualShadow: hsl(6, 70%, 34%);
$themeBlueKeyBack: hsl(30, 25%, 89%);
$themeBlueKeyShadow: hsl(28, 16%, 65%);
$themeBlueText1:hsl(221, 14%, 31%);
$themeBlueText2: white;

$themeBrownBg: hsl(0, 0%, 90%);
$themeBrownToggle: hsl(0, 5%, 81%);
$themeBrownScreenBg: hsl(0, 0%, 93%);
$themeBrownDelKey: hsl(185, 42%, 37%);
$themeBrownDelShadow: hsl(185, 58%, 25%);
$themeBrownEqual: hsl(25, 98%, 40%);
$themeBrownEqualShadow: hsl(25, 99%, 27%);
$themeBrownKeyBack: hsl(45, 7%, 89%);
$themeBrownKeyShadow:hsl(35, 11%, 61%);
$themeBrownText1: hsl(60, 10%, 19%);
$themeBrownText2: white;

$themePurpleBg: hsl(268, 75%, 9%);
$themePurpleToggle: hsl(268, 71%, 12%);
$themePurpleScreenBg: hsl(268, 71%, 12%);
$themePurpleDelKey: hsl(281, 89%, 26%);
$themePurpleDelShadow: hsl(285, 91%, 52%);
$themePurpleEqual: hsl(176, 100%, 44%);
$themePurpleEqualShadow:hsl(177, 92%, 70%);
$themePurpleKeyBack:hsl(268, 47%, 21%);
$themePurpleKeyShadow:hsl(290, 70%, 36%);
$themePurpleText1: hsl(52, 100%, 62%);
$themePurpleText2:hsl(198, 20%, 13%);