.calc__display{
 margin: 0 auto;
 width: 95%;
 max-width: 800px;
font-size: 42px;
border-radius: 0.5em;
text-align: right;
padding-right: 1em;
.small__display{
 font-size: 10px;
 width: auto;
 min-height: 18px;
}
}